@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #E8FFFD, #E3C6B8);
}

main{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #88655379;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6B9693;
    text-align: center;
    text-shadow: 1px 1px 0px #496664b2;
}

h2{
    color: #966F5C;
}
p{
    text-align: justify;

}